*,
*::after,
*::before {
   margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
   /* root font-size 10px divided 16px = 0.625 */
   // this defines what 1rem is
	font-size: 62.5%; 
}

body {
	box-sizing: border-box;
}